<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Butcher <%= content.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/style.css"> <!-- Adjust the path based on your project structure -->
</head>
<body>
    <a href="/"><i class="fa-solid fa-play fa-rotate-180 fa-3x" style="position: fixed; color: rgb(125, 156, 243); margin-left: 2%;"></i></a>
    <div class="box-container">
        <% for (let i = 0; i < content.numberOfCards; i++){ %>
            <% const box = content.boxes[i] || {}; %>
            <section class="bigbox" style="margin: 3% 3%;"> 
                <h2><%= box.title %></h2>
                <p><%= box.text %></p>
                <div class="box-content">
                    <%- box.image %>
                    <div class="progress-bar" style="width: <%- box.percentage %>%; background-color: <%- box.color %>">
                        <h2 style="color: <%- box.color %>"><%= box.percentage %>%</h2> 
                    </div>
                </div>
                <br>
            </section>
        <% } %>
    </div>
</body>
</html>
